{{#with celebrity}}
<h2>Details of your picked celebrity</h2>
<p><b>Name:</b> {{name}}</p>
<p><b>Occupation:</b> {{occupation}}</p>
<p><b>Catch phrase:</b> {{catchPhrase}}</p>
<a href="/celebrities/edit/{{_id}}">Edit celebrity ⚙️ </a> <br>
<a href="/celebrities/delete/{{_id}}">Delete this celebrity ❌</a>
{{/with}}